body {
    margin: 0;
    font-family: Arial, Helvetica, 'Microsoft Yahei',sans-serif;
    color: #7e8793;
    /* 我们自己做的页面字体偏粗，而苹果字体偏细，所以加平滑 */
    -webkit-font-smoothing:antialiased;
}

/* 如果添加padding不要让自己变大,而是向内部挤压 */
* {
    box-sizing: border-box;
}

/* list page */
.flex {
    display: flex;
    /* 我们不会让其左对齐，而是分散对齐,中间会空出一些间距 */
    justify-content: space-between;
    /* 纵向轴垂直居中 */
    align-items: center;
}

.padded {
    padding: 1rem;
}


/* home */
.home-header {
    background: url(../images/home-bg.png) no-repeat;
    /* 宽度100%  高度自适应 */
    background-size: 100% auto;
    /* 因为图片太大，需要让图片居中 */
    text-align: center;
    /* 底部内边距 */
    padding-bottom: 1.5rem;
}

.home-header > img {
    width: 67%;
    /* 表示根路径root  element的尺寸  也就是html默为16像素的字体大小*2 为32Px */
    margin: 2.3rem;
}

.home-header form {
    background: white;
    width: 92%;
    /* 居中显示 */
    margin: 0 auto;

    /* 设置行高，垂直居中 */
    line-height: 2.2rem;
    /* 设置圆角 */
    border-radius: 2.2rem;
}

.home-header form input {
    width: 75%;
    color: #aaa;
    font-size: 0.85rem;
    outline: none;
}

.home-header form button{
    font-size: 0.9rem;
    color: #5cd5c7;
    /* font-weight: lighter; */
    /* 边框背影全部去掉 */
    border: none;
    background: none;
}

.home-categories {
    padding: 0 1rem;
}

.home-categories dt {
    display: flex;
    /* 纵向对齐方式居中 */
    align-items: center;
    color: #333;
}

.home-categories dt img {
    height: 3rem;
    margin: 1rem;
}

.home-categories dd {
    margin:-0.3rem;
}

.home-categories dd .tag{
    background: #f5f8f9;
    color: #7e8793;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 2rem;
    text-decoration: none;
    margin: 0.2rem 0.3rem;
    font-size: 0.8rem;
}

.home-footer {
    width: 70%;
    margin: 0 auto;
    font-size: 0.75rem;
}

.home-footer p{
    margin: 0.2rem 0;
}



.list-header {
    padding: 0.8rem 1rem;
}

.list-header img {
    height: 1.2rem;
}

.list-header form{
    width: 100%;
}
.list-header form .inner {
    width: 100%;
    background: #f5f8f9;
    margin: 0 1rem;
    line-height: 1.7rem;
    border-radius: 2rem;
    padding: 0 1rem;
}

.list-header form .inner input {
    width: 80%;
    /* 设置透明背景 */
    background: transparent;
    border: none;
    outline: none;
    color: #7e8793;
}

.list-header form button {
    border: none;
    background:none;
    font-size: 0.9rem;
    color: #5bd4c7;
    /* 不被压缩的 */
    flex-shrink: 0; 
    padding: 0;
}

.filter {
    padding: 0.5rem 1rem;
    border: 1px solid #f5f8f9;
}

.filter dl,.filter dd {
    margin: 0;
}

.filter dt {
    font-size: 0.8rem;
}

/* 在dt中通过css来添加一些东西 */
.filter dt:after {
    /* 一定要写否则不存在 */
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border: 1px solid #999;
    border-style: solid none none solid;
    transform: rotate(225deg);
    /* 当产生动画的时候会有偏移 右为2px  上为1px */
    transform-origin: 2px 1px;
    margin-left: 0.5rem; 
    /* 添加一些动画 */
    transition: all 0.3s;
}

.filter .active dt:after {
    transform: rotate(45deg);   
}

.filter dd {
    display: none;
}

.filter .active dd {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    position: absolute;
    top:90px;
    left:0;
}

.filter .active dd ul {
    margin: 0;
    padding: 0;
    background: #fff;
}

.filter .active dd li {
    line-height: 3.5rem;
    text-indent: 1rem;
    color: #aaa;
    font-size: 15px;
}

.filter .active dd li.active {
    background: #f5f8f9;
    color: #333;
}

.filter .active dt {
    color: #333;
}

.job-list {
    margin: 0;
    padding: 0;
}

.job-item {
    margin: 1rem;
    padding-bottom: 1rem;
    color: #7e8793;
    text-decoration: none;
    /* border-bottom: 1px solid #f5f8f9; */
}

.job-item > img {
    height: 3.5rem;
    border-radius: 0.3rem;
}

.job-item .text {
    width: 100%;
    margin-left: 1rem;
}

.job-item .title {
    color: #333;
    font-size: 0.9rem;
}

.job-item .salary {
    font-size: 1.2rem;
    color: #fc6c83;
}

.job-item .company {
    font-size: 0.8rem;
    color: #333;
    margin: 0.2rem 0;
}

.job-item .props {
    font-size: 0.8rem;
}

.job-item .props span {
    margin-right: 0.5rem;
}

/* detail */
.top-bar img {
    height: 1rem;
}

.top-bar form {
    width: 40%;
    border: 1px solid #5bd4c7;
    border-radius: 2rem;
    padding: 0 0.5rem;
}

.top-bar form input {
    border:none;
    width: 80%;
    background: none;
    outline: none;
    line-height: 1.5rem;
    color: #aaa;
    font-size: 0.9rem;
}

.top-bar form button {
    border: none;
    background: url(../images/icons.png) no-repeat top center;
    background-size: 100% auto;
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/* 工作的基本信息 */
.job-info {
    background: #62d5c8;
    color: #fff;
}

.job-info .title {
    font-size: 1.2rem;
}

.job-info .props {
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

.job-info .props .items i {
    display: inline-block;
    width: 1px;
    height: 0.8rem;
    background-color: #fff;
    margin: 0 0.5rem;
}

.job-info .tags span {
    border: 1px solid #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    font-size: 0.75rem;
}

/* 用户信息 */
.user-info {
    background-color: #eefbf9;
}

.user-info > img {
    height: 3.5rem;
    border-radius: 3.5rem;
}
/* 通用按钮公共的样式 */
.btn {
    border: none; 
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
}

.user-info > button {
    background: #62d5c8;
    color: #fff;
    /* 如何怎么挤,不要让按钮缩小 */
    flex-shrink: 0;
    outline: none;
}


.user-info .name {
    color: #333;
}

.user-info .name .like {
    font-size: 0.8rem;
    color: #fb7042;
}

.user-info .desc {
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 0.5rem;
}

.user-info .info {
    width: 40%;
    margin: 0 1rem;
}

/* 职位详情 */
.job-detail h3{
    color: #333;
    font-size: 1rem;
    position: relative;
}

.job-detail h3:after {
        content: '';
        width: 1rem;
        height: 1px;
        display: inline-block;
        background: #62d5c8;
        position: absolute;
        top: 1.8rem;
        left: 0;
}

.job-detail .text {
    font-size: 0.95rem;
    line-height: 1.6rem;
}
/* 团队介绍 */
.job-detail .tags {
    padding-top: 0.7rem;
}

.job-detail .tags span {
    font-size: 0.8rem;
    color: #5bd4c7;
    border: 1px solid #5bd4c7;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.job-detail .text table {
    border: 1px solid #ebecef;
    padding: 0.7rem 0.3rem;
    font-size: 0.75rem;
}

.job-detail .text th {
    font-weight: normal;
    width: 6rem;
    color: #9fa3b0;
}

.job-detail .text td {
    width: 8rem;
}

.grey {
    color: #9fa3b0;
}

/* 公司名片 */
.company-info {
    background: #eefbf9;
}

.company-info > img {
    height: 3.5rem;
    border-radius: 3.5rem;
}

.company-info .info {
    width: 100%;
    margin: 1rem;
}

.company-info .info .name {
    color: #333;
}

.company-info .info .name .btn {
    background: #62d5c8;
    color:#fff;
}

.company-info .info .desc {
    font-size: 0.8rem;
    color: #333;
}

.company-info .info .tags {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    justify-content: flex-start;
}

.company-info .info .tags i {
    display: inline-block;
    width: 1px;
    height: 0.8rem;
    background-color: #ebecef;
    margin: 0 0.5rem;
}

/* 相似职位 */
.related-job h3 {
    color: #7e8793;
    font-weight: normal;
    font-size: 0.9rem;
}

.related-job ul {
    list-style: none;
}

.related-job ul li > a {
    border: none;
    border-top: 1px solid #ebecef;
    margin: 0;
    padding: 1rem 0;
}

.related-job .btn {
    padding: 0.4rem 1.2rem;
    margin-top: 0.2rem;
    border: 1px solid #62d5c8;
    color: #62d5c8;
    background: none;
}

/* 推荐公司 */

.related-companies h3 {
    color: #7e8793;
    font-weight: normal;
    font-size: 0.9rem;
}

.related-companies .tags a {
    color: #7e8793;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 0.8rem 0.2rem 0;
}

.job-footer {
    border-top: 1px solid #ebecef;
    padding: 1rem 0;
    margin: 1rem;
    line-height: 1.5rem;
}

.breadcrumb-nav a {
    color: #7e8793;
    text-decoration: none;
    font-size: 0.75rem;
}

.breadcrumb-nav i {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #9fa3b0;
    border-style: solid none none solid;
    transform: rotate(135deg);
}